.container{
  background-color: #f3f3f4;
  color: #222428;
  height: 100vh;
  width: 100% !important;

  .browse {
    color: #444444;
    font-size: rem-calc(25) !important;
    margin-right: 20%;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}

.ngx-intl-tel-input.custom {
  width: 300px; /* Adjust the width as needed */
}


ion-button[type=submit] {
  color: #FCFCFC;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 3rem;
  margin-left: 15px;
  margin-right: 15px;
}
