<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="container">
  <div style="padding-left:20px; padding-top:10px;" >
    <h4 class="browse" style="width: 80%;">Let's begin the process by verifying
        your
        <span style="color: #0033aa;"><strong>Phone Number</strong>
        </span>, <span style="color: #0033aa;"><strong>ID </strong>
        </span> & <span style="color: #0033aa;"><strong>Email Address </strong>
        </span>
    </h4>
  </div>

  <form  [formGroup]="authForm" style="padding-left: 20px; padding-right: 20px;" (ngSubmit)="verifyID()">
    <div style="margin-left: 15px; margin-right: 15px !important;">

    <ion-label position="stacked" class="labels" style="font-size: 15px !important;">Phone Number <span class="uk-text-danger">*</span></ion-label>
    <ngx-intl-tel-input
    [cssClass]="'custom'"
    formControlName="phone"
    [preferredCountries]="[CountryISO.Kenya, CountryISO.Uganda, CountryISO.Rwanda]"
    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
    [enableAutoCountrySelect]="false"
    [enablePlaceholder]="true"
    [searchCountryFlag]="true"
    [separateDialCode]="true"
    [selectedCountryISO]="CountryISO.Kenya"
    ></ngx-intl-tel-input>
      <div class="validation-error uk-text-danger">
        <small class="error-message"
            *ngIf="f['phone'].hasError('required') && f['phone'].dirty && f['phone'].touched">
            <ion-icon name="information-circle-outline"></ion-icon>Phone number is required
        </small>
    </div>
    </div>


    <div>
      <ion-item lines="none">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">ID Number <span class="uk-text-danger" >*</span>
          </ion-label>
          <ion-input name="text" maxlength="35" type="text" formControlName="idNumber" label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['idNumber'].hasError('pattern') && f['idNumber']dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID must be a valid ID number
              address
          </small>
          <small class="error-message"
              *ngIf="f['idNumber'].hasError('required') && f['idNumber'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID number is required
          </small>
      </div>
  </div>
     <!-- Email Address -->
     <div>
      <ion-item lines="none">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;" >Email Address <span class="uk-text-danger">*</span>
          </ion-label>
          <ion-input name="email" maxlength="35" type="email" formControlName="emailAddress"  label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['emailAddress'].hasError('pattern') && f['emailAddress'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Email must be a valid email
              address
          </small>
          <small class="error-message"
              *ngIf="f['emailAddress'].hasError('required') && f['emailAddress'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Email is required
          </small>
      </div>
  </div>
  <div style="margin-top: 30px;">
    <ion-button [disabled]="loader.loading || authForm.invalid" mode="ios" type="submit"
    expand="block"
    fill="solid"
    shape="round">
    {{ loader.loading ? '' : 'Continue'}}
    <ion-spinner *ngIf="loader.loading" name="dots" color="light"></ion-spinner>
  </ion-button>
  </div>



  </form>

</div>
