ion-button[type=submit] {
  color: #FCFCFC;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 3rem;
  margin-left: 15px;
  margin-right: 15px;
}

.browse {
  color: #444444;
  font-size: rem-calc(25) !important;
  margin-right: 20%;
  margin-left: 20px;
  margin-bottom: 40px;
}

.uk-card {
  border-radius: 10px;
}

.iconSize {
  font-size: 32px;
}

.face-recog {
  box-shadow: 10px 10px 10px #bdbdbd;
}

.header {
  color: #1833a1 !important;
}

.header ion-icon {

  color: #1833a1 !important;
  float: right !important;
}

