ion-content{
  --background: #f3f3f4;
}
.terms-text {
  max-height: 100% !important; /* Example max-height for scrolling */
  overflow-y: auto;
  scrollbar-width: thin; /* "auto" or "thin" depending on browser support */
  margin: 10px;
}

.terms-text::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.terms-text::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.terms-text::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
}
