<ion-content class="ion-no-padding">
  <swiper-container #swiper pagination="true">
    <swiper-slide
      *ngFor="let slide of slides, let i = index">
      <div
        class="slide-info">
        <ion-img *ngIf="slide.logo"
        [src]="'./assets/images/' + slide.logo + '.png' "></ion-img>
        <ion-icon *ngIf="slide.icon"
          [src]="'./assets/custom-icons/' + slide.icon + '.svg' "></ion-icon>
        <p class="slide-info__title ion-margin-bottom">{{slide.title}}</p>
        <p class="slide-info__subtitle">
          {{slide.subtitle}}
        </p>

        <ion-button routerLink="/onboarding/docs-required" mode="ios"
          class="slide-info__btn ion-margin-bottom uk-margin-large-top"
          fill="solid" expand="block" shape="round"> Proceed to Create Account
        </ion-button>
        <!-- <ion-button *ngIf="i === 0; else skipBtn" routerLink="/onboarding/docs-required"
          class="skip "
          fill="outline"
          color="light" expand="block" shape="round">
          Log In
        </ion-button> -->

        <ng-template #skipBtn>
          <ion-button mode="ios" routerLink="/onboarding/docs-required" expand="block"
            fill="clear"
            shape="round">
            Skip
          </ion-button>
        </ng-template>

        <div class="ion-margin-top info-text">
          SBG Securities Limited is licensed and regulated by the Capital Markets Authority of Kenya, Uganda and Rwanda.
        </div>

      </div>

    </swiper-slide>
  </swiper-container>

</ion-content>
