.browse {
  color: #444444;
  font-size: rem-calc(25) !important;

  margin-bottom: 40px;
}

.identification-cards {
  background-color: #f3f3f4;
}

.browse2 {
  color: #757575;
  font-size: 1.2rem;
}

.uk-card {
  border-radius: 10px;
}

.iconSize {
  font-size: 32px;
}

.face-recog {
  box-shadow: 10px 10px 10px #bdbdbd;
}
