<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div style="height: 100vh;">
  <!-- <div></div> -->
  <div style="height: 30vh">
    <div style="padding-top:30px; padding-bottom: 20px; display: flex; justify-content: center;">
      <h4 class="browse ion-margin-top">One last step, take a <span
          style="color: #0033aa;"><strong>Selfie </strong>
        </span>
      </h4>
    </div>
  </div>

  <div style="height: 70vh; overflow-y: scroll;">
    <div class="uk-container uk-container-xsmall">
      <div *ngIf="loader?.loading" class="uk-text-center" style="padding-top:30%">
        <span class="" uk-spinner="ratio: 2"></span>
        <p *ngIf="loader?.detectingFace">Detecting Face...</p>
        <p *ngIf="loader?.savingSelfie">Saving Selfie...</p>
      </div>
      <div class="uk-flex uk-flex-center" *ngIf="!loader?.loading && !loader?.detectingFace && !loader?.savingSelfie"
        (click)="takePicture()">
        <div class="face-recog">
          <img src="assets/images/facial-recognition.png" alt="">
        </div>
      </div>
      <br>
      <div class="uk-flex uk-flex-center" *ngIf="!loader?.loading && !loader?.detectingFace && !loader?.savingSelfie">
        <span class="uk-text-center">
          <small class="description"><em style="color: #757575;">Click on the image above to prompt camera</em></small>
        </span>
      </div>

      <div class="uk-margin-medium-bottom uk-margin-small-left uk-margin-small-right uk-margin-large-top">
        <ion-button expand="block" shape="round" [disabled]="loader.loading" (click)="takePicture()">
            Click to open camera
        </ion-button>
    </div>


    </div>
  </div>
</div>
